.serverless/
__pycache__/
*.pyc
*.pyo
*.so
*.egg-info/
venv/
env/
layer/python/jwcrypto/
layer/python/cryptography/
layer/python/cffi/
layer/python/pycparser/
layer/python/typing_extensions.py
layer/python/share/
layer/python/*.dist-info/
node_modules/
.env
.vscode/
.DS_Store
